<div class="container">
    <div class="container2">
        <div class="flez">
            <h3>¿Esto es un palindromo?</h3>
            <p>{{count}}</p>
        </div>
        <input [(ngModel)]="sentence" type="text" placeholder="escribir una frase">
        <button (click)="verificar()">Verificar</button>
    </div>
    
</div>
