.container {
    top: 0;
    left: 0;
    position: absolute;
}

.container2 {
    padding: 10px;
}

input {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}


button {
    margin: 0 auto;
    background-color: rgba(87, 123, 241, 0.602);
    color: white;
    display: block;
    padding: 9px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(52, 95, 238, 0.602);
}

button:focus {
    outline: none;
}