<div [ngStyle]="{'display': visible}"class="container">
    <div class="popup center">
        <div class="organized center">
            <p>Clic en iniciar para continuar</p>
            <button (click)="dessapear()">Iniciar</button>
        </div>
    </div>
</div>
