.center {
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
}
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0 0 0 / 75%);

    animation: appear 2s forwards;
    visibility: hidden;
    opacity: 0;
}

.container:target {   
    animation: desappear 2s forwards;
}


.popup {
    width: 100%;
    max-width: 550px;
    height: 300px;
    background-color: #288c7775;
    position: relative;
    top: 50%;
    left: 50%;
}

.organized {
    position: absolute;
}

p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

button {
    margin: 0 auto;
    background-color: rgba(87, 123, 241, 0.602);
    color: white;
    display: block;
    padding: 9px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(52, 95, 238, 0.602);
}

button:focus {
    outline: none;
}

input {
    margin: 10px 0;
    padding: 3px;
    border: 5px;
}


@keyframes appear {
    100% {
        visibility: visible;
        display: contents;
        opacity: 1;
    }
}

@keyframes desappear {
    0% {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}